<!DOCTYPE html>
<html>
<head>



</head>
<body>
    <center>
        <table border="1" width="800">
            <tr>
            <td colspan="2" align="center" bgcolor="lightyellow">Acadeic Qualifications</td><td align="center" bgcolor="lightyellow">Year Award</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" width=“200”>Bachelor of Pharmacy</td><td>Zhe Jiang University of Technology</td><td>2018</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="lightyellow">First Class Award</td> 
            </tr>
            <tr>
            <td rowspan="2" align="center" width=“200”>Master of Education</td><td>The University of Hongkong</td><td>2024</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="lightyellow">To be worked on</td>
            </tr>
            <tr>
            <td rowspan="2" align="center" width=“200”>Waiting</td><td>waiting too</td><td>20xx</td>
            </tr>
            <tr>
            <td colspan="2" align="center" bgcolor="lightyellow">waiting too too</td>
            
            </table>

    </center>

</body>
</html>